/* 1 em = 1rem = 16px */

/*************************************************************/
/* BELLOW 1344  px (Smaller computers)  */
/*************************************************************/

@media (max-width: 84em) {
  .hero {
    max-width: 120rem;
  }

  .heading-primary {
    font-size: 4.4rem;
  }

  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}

/*************************************************************/
/* BELLOW 1200  px (Lanscapte tablet)  */
/*************************************************************/

@media (max-width: 75rem) {
  html {
    /* 9px / 16px */
    font-size: 55.25%;
  }

  .grid {
    column-gap: 4.8rem;
    row-gap: 6.4rem;
  }

  .headline-secondary {
    font-size: 3.6rem;
  }

  .heading-tertiary {
    font-size: 2.4rem;
  }
  .main-nav-list {
    gap: 3.2rem;
  }

  .header {
    padding: 0 3.2rem;
  }

  .hero {
    gap: 4.8rem;
  }

  .testimonals-container {
    padding: 9.6rem 3.2rem;
  }
}

/*************************************************************/
/* BELLOW 944 px (tablet)  */
/*************************************************************/

@media (max-width: 59rem) {
  html {
    /* 8px / 16px */
    font-size: 50%;
  }

  .hero {
    grid-template-columns: 1fr;
    padding: 0 8rem;
    gap: 6.4rem;
  }

  .hero-img {
    width: 60%;
  }

  .hero-text-box,
  .hero-img-box {
    text-align: center;
  }

  .delivered-meals {
    justify-content: center;
    margin-top: 3.2rem;
  }

  .logos img {
    height: 2.6rem;
  }

  .step-number {
    font-size: 7.4rem;
  }

  .meal-content {
    padding: 2.4rem 3.2rem;
  }

  .section-testimonials {
    grid-template-columns: 1fr;
  }

  .gallery {
    grid-template-columns: repeat(6, 1fr);
  }

  .cta {
    grid-template-columns: 3fr 2fr;
  }

  .cta-form {
    grid-template-columns: 1fr;
  }

  .btn--form {
    margin-top: 1.2rem;
  }

  /******************************************************/
  /* Moviles navigation*/
  /******************************************************/

  .btn-movil-nav {
    display: block;
    z-index: 9999;
  }

  .main-nav {
    /* background-color: tomato; */
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateX(100%);
    transition: all 2s ease-in;

    /* Hide navigation */
    /* Allows NO transitions at all */
    /* display: none; */

    /*1) hide it visually */
    opacity: 0;

    /* 2) make it unaccesible to mause at keyboard */
    pointer-events: none;

    /* 3) hide it from screen readers */
    visibility: hidden;
  }

  .nav-open .main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0%);
  }

  .nav-open .icon-movil-nav[name="close-outline"] {
    display: block;
  }

  .nav-open .icon-movil-nav[name="menu-outline"] {
    display: none;
  }

  .main-nav-list {
    flex-direction: column;
    gap: 5.8rem;
  }

  .main-nav-link:link,
  .main-nav-link:visited {
    font-size: 3rem;
  }
}

/******************************************************/
/* Smaller Tablest*/
/******************************************************/

@media (max-width: 44rem) {
  .grid--4-cols,
  .grid--3-cols {
    grid-template-columns: repeat(2, 1fr);
  }

  .diets {
    grid-column: 1 / -1;
    justify-self: center;
  }

  .headline-secondary {
    margin-bottom: 4.8rem;
  }

  .pracing-plan {
    width: 100%;
  }

  .footer-grid {
    grid-template-columns: repeat(6, 1fr);
  }

  .logo-col,
  .addres-col {
    grid-column: span 3;
  }

  .nav-col {
    grid-row: 1;
    grid-column: span 2;
  }
}

/******************************************************/
/* BELOW 544px (Phones)*/
/******************************************************/

@media (max-width: 34em) {
  .grid {
    grid-gap: 4.8rem;
  }

  .grid--4-cols,
  .grid--3-cols,
  .grid--2-cols {
    grid-template-columns: repeat(1, 1fr);
  }

  .hero {
    padding: 0 3.2rem;
  }

  .section-hero {
    background-color: #fdf2e9;
    padding: 2.4rem 0 6.4rem 0;
  }

  .hero-img {
    width: 80%;
  }

  .logos img {
    height: 1.2rem;
  }

  .step-img-box:nth-child(2) {
    grid-row: 1;
  }

  .step-img-box:nth-child(6) {
    grid-row: 5;
  }

  .step-img {
    transform: translateY(2.4rem);
  }

  .testimonials {
    grid-template-columns: 1fr;
  }

  .gallery {
    grid-template-columns: repeat(4, 1fr);
    gap: 1.6rem;
  }

  .cta {
    grid-template-columns: 1fr;
  }

  .cta-text-box {
    padding: 3.2rem;
  }

  .cta-img-box {
    height: 32rem;
    grid-row: 1;
  }
}

/******************************************************/
/* Fixing sarafy flexbox gap*/
/******************************************************/

.no-flexbox-gap .main-nav-list li:not(:last-child) {
  margin-right: 4.8rem;
}

.no-flexbox-gap .list-item:not(:last-child) {
  margin-bottom: 1.6rem;
}

.no-flexbox-gap .list-icon:not(:last-child) {
  margin-right: 1.6rem;
}

.no-flexbox-gap .delivered-faces {
  margin-right: 1.6rem;
}

.no-flexbox-gap .meal-attribute:not(:last-child) {
  margin-bottom: 2rem;
}

.no-flexbox-gap .meal-icon {
  margin-right: 1.6rem;
}

.no-flexbox-gap .footer-row div:not(:last-child) {
  margin-right: 6.4rem;
}

.no-flexbox-gap .social-links li:not(:last-child) {
  margin-right: 2.4rem;
}

.no-flexbox-gap .footer-nav li:not(:last-child) {
  margin-bottom: 2.4rem;
}

@media (max-width: 75em) {
  .no-flexbox-gap .main-nav-list li:not(:last-child) {
    margin-right: 3.2rem;
  }
}

@media (max-width: 59em) {
  .no-flexbox-gap .main-nav-list li:not(:last-child) {
    margin-right: 0;
    margin-bottom: 4.8rem;
  }
}
