/*************************************************************/
/* HEADER */
/*************************************************************

/******************************************************/
/* Navigation*/
/******************************************************/
.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3.2rem;
}
.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  font-weight: 500;
  font-size: 1.8rem;
  color: #555;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #cf711f;
}

/* increce specificity for this component */
.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  background-color: #e67e22;
  color: #fff;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #cf711f;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fdf2e9;

  height: 9.6rem;
  padding: 0 4.6rem;
}

.logo {
  height: 2.2rem;
}

/*************************************************************/
/*************************************************************/
/* HERO SECTION */
/*************************************************************/
.section-hero {
  background-color: #fdf2e9;
  padding: 4.8rem 0 9.6rem 0;
}

.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0 3.2rem;
  margin: 0 auto;
  gap: 9.6rem;
  max-width: 130rem;
  /* background-color: tomato; */
}

.hero-descripton {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.2rem;
}

.hero-img {
  width: 100%;
}

.delivered-meals {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  margin-top: 8rem;
}
.delivered-imgs {
  display: flex;
}

.delivered-imgs img {
  display: flex;
  height: 4.8rem;
  width: 4.8rem;
  border-radius: 50%;
  border: 3px solid #fdf2e9;
  margin-right: -1.6rem;
}

.delivered-imgs img:last-child {
  margin: 0;
}

.delivered-text {
  font-size: 1.8rem;
  font-weight: 600;
}

.delivered-text span {
  color: #e67e22;
  font-weight: 700;
}

/******************************************************/
/*Feature in section*/
/******************************************************/
.section-featured {
  padding: 4.8rem 0;
}

.header-featured-in {
  font-size: 1.4rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  text-align: center;
  margin-bottom: 2.4rem;
  color: #999;
}

.logos {
  display: flex;
  justify-content: space-around;
}

.logos img {
  height: 3.2rem;
  filter: brightness(0);
  opacity: 50%;
}

/******************************************************/
/* How it works SECTION */
/******************************************************/
.section-how {
  padding: 9.6rem 0;
  /* background-color: tomato; */
}

.step-number {
  font-size: 9.8rem;
  font-weight: 600;
  color: #ddd;
  margin-bottom: 1.2rem;
}

.step-description {
  font-size: 2rem;
  line-height: 1.2;
}

.step-img-box {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
}

.step-img-box::before,
.step-img-box::after {
  content: "";
  display: block;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.step-img-box::before {
  width: 60%;
  /* height: 60%; */
  /* 60% of parent's  width */
  padding-bottom: 60%;
  /* #TODO:change color #fdf2e9 */
  background-color: tomato;
  z-index: -2;
}

.step-img-box::after {
  width: 50%;
  padding-bottom: 50%;
  /* #TODO: Cchange color #fae5d3*/
  background-color: yellowgreen;
  z-index: -1;
}

.step-img {
  width: 35%;
}

/* .section-how div div {
  padding: 100px;
  font-size: 50px;
}
.section-how .container div:nth-child(1) {
  background-color: royalblue;
}
.section-how .container div:nth-child(2) {
  background-color: yellow;
}
.section-how .container div:nth-child(3) {
  background-color: rebeccapurple;
}
.section-how .container div:nth-child(4) {
  background-color: aqua;
}
.section-how .container div:nth-child(5) {
  background-color: #fff;
} */

/******************************************************/
/* Meals section*/
/******************************************************/

.section-meal {
  padding: 9.6rem 0;
}

.meals {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: 12px;
  overflow: hidden;
  background-color: tomato;
  transition: all 0.3s;
}

.meals:hover {
  transform: translateY(-2rem);
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.06);
}

.meal-tags {
  margin-bottom: 1.2rem;
  display: flex;
  gap: 0.4rem;
}

.meal-content {
  padding: 3.2rem 4.8rem;
}

.tag {
  display: inline-block;
  padding: 0.4rem 0.8rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #333;
  border-radius: 100px;
  font-weight: 600;
}

.tag--vegetarian {
  background-color: #51cf66;
}
.tag--vegan {
  background-color: #94d82d;
}
.tag--paleo {
  background-color: #fcc419;
}

.meal-title {
  font-size: 2.4rem;
  color: #333;
  font-weight: 600;
  margin-bottom: 3.4rem;
}

.meal-attributes {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.meal-attribute {
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.meal-icon {
  height: 2.4rem;
  width: 2.4rem;
  color: #e67e22;
}

.meal-img {
  width: 100%;
}

.all-recipes {
  text-align: center;
  font-size: 1.8rem;
  margin-bottom: 9rem;
}

.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.list-item {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.8rem;
}

.list-icon {
  width: 3rem;
  height: 3rem;
  color: #e67e22;
}

/******************************************************/
/* Testimonial seccition*/
/******************************************************/
.section-testimonials {
  background-color: #fdf2e9;
  display: grid;
  grid-template-columns: 55fr 45fr;
  align-items: center;
}
.testimonals-container {
  padding: 9.6rem;
}
.testimonials {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 4.8rem;
  column-gap: 4rem;
}

.testimonial-img {
  width: 6.5rem;
  border-radius: 50%;
  margin-bottom: 1.2rem;
}

.testimonial-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 1.6rem;
}

.testimonial-name {
  font-size: 1.6rem;
  color: #6f6f6f;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
  padding: 1.6rem;
}

.gallery-item {
  overflow: hidden;
}

.gallery-item img {
  /* This remove white space */
  display: block;
  /* height: 100%; */
  width: 100%;
  transition: transform 0.3s;
}

.gallery-item img:hover {
  transform: scale(1.2);
}

/******************************************************/
/*Section pricing*/
/******************************************************/
