/*************************************************************/
/* HEADER */
/*************************************************************

/******************************************************/
/* Navigation*/
/******************************************************/
.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4.8rem;
}
.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  font-weight: 500;
  font-size: 1.8rem;
  color: #555;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #cf711f;
}

/* increce specificity for this component */
.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  background-color: #e67e22;
  color: #fff;
}

.btn-movil-nav {
  border: none;
  background: none;
  cursor: pointer;
  display: none;
}

.icon-movil-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: #333;
}

.icon-movil-nav[name="close-outline"] {
  display: none;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #cf711f;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fdf2e9;

  height: 9.6rem;
  padding: 0 4.6rem;
  position: relative;
}

.logo {
  height: 2.2rem;
}

/*************************************************************/
/*************************************************************/
/* HERO SECTION */
/*************************************************************/
.section-hero {
  background-color: #fdf2e9;
  padding: 4.8rem 0 9.6rem 0;
}

.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0 3.2rem;
  margin: 0 auto;
  gap: 9.6rem;
  max-width: 130rem;
  /* background-color: tomato; */
}

.hero-descripton {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.2rem;
}

.hero-img {
  width: 100%;
}

.delivered-meals {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  margin-top: 8rem;
}
.delivered-imgs {
  display: flex;
}

.delivered-imgs img {
  display: flex;
  height: 4.8rem;
  width: 4.8rem;
  border-radius: 50%;
  border: 3px solid #fdf2e9;
  margin-right: -1.6rem;
}

.delivered-imgs img:last-child {
  margin: 0;
}

.delivered-text {
  font-size: 1.8rem;
  font-weight: 600;
}

.delivered-text span {
  color: #e67e22;
  font-weight: 700;
}

/******************************************************/
/*Feature in section*/
/******************************************************/
.section-featured {
  padding: 4.8rem 0;
}

.header-featured-in {
  font-size: 1.4rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  text-align: center;
  margin-bottom: 2.4rem;
  color: #999;
}

.logos {
  display: flex;
  justify-content: space-around;
}

.logos img {
  height: 3.2rem;
  filter: brightness(0);
  opacity: 50%;
}

/******************************************************/
/* How it works SECTION */
/******************************************************/
.section-how {
  padding: 9.6rem 0;
  /* background-color: tomato; */
}

.step-number {
  font-size: 9.8rem;
  font-weight: 600;
  color: #ddd;
  margin-bottom: 1.2rem;
}

.step-description {
  font-size: 2rem;
  line-height: 1.2;
}

.step-img-box {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
}

.step-img-box::before,
.step-img-box::after {
  content: "";
  display: block;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.step-img-box::before {
  width: 60%;
  /* height: 60%; */
  /* 60% of parent's  width */
  padding-bottom: 60%;
  /* #TODO:change color #fdf2e9 */
  background-color: tomato;
  z-index: -2;
}

.step-img-box::after {
  width: 50%;
  padding-bottom: 50%;
  /* #TODO: Cchange color #fae5d3*/
  background-color: yellowgreen;
  z-index: -1;
}

.step-img {
  width: 35%;
}

/* .section-how div div {
  padding: 100px;
  font-size: 50px;
}
.section-how .container div:nth-child(1) {
  background-color: royalblue;
}
.section-how .container div:nth-child(2) {
  background-color: yellow;
}
.section-how .container div:nth-child(3) {
  background-color: rebeccapurple;
}
.section-how .container div:nth-child(4) {
  background-color: aqua;
}
.section-how .container div:nth-child(5) {
  background-color: #fff;
} */

/******************************************************/
/* Meals section*/
/******************************************************/

.section-meal {
  padding: 9.6rem 0;
}

.meals {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: 12px;
  overflow: hidden;
  background-color: tomato;
  transition: all 0.3s;
}

.meals:hover {
  transform: translateY(-2rem);
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.06);
}

.meal-tags {
  margin-bottom: 1.2rem;
  display: flex;
  gap: 0.4rem;
}

.meal-content {
  padding: 3.2rem 4.8rem;
}

.tag {
  display: inline-block;
  padding: 0.4rem 0.8rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #333;
  border-radius: 100px;
  font-weight: 600;
}

.tag--vegetarian {
  background-color: #51cf66;
}
.tag--vegan {
  background-color: #94d82d;
}
.tag--paleo {
  background-color: #fcc419;
}

.meal-title {
  font-size: 2.4rem;
  color: #333;
  font-weight: 600;
  margin-bottom: 3.4rem;
}

.meal-attributes {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.meal-attribute {
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.meal-icon {
  height: 2.4rem;
  width: 2.4rem;
  color: #e67e22;
}

.meal-img {
  width: 100%;
}

.all-recipes {
  text-align: center;
  font-size: 1.8rem;
  margin-bottom: 9rem;
}

/******************************************************/
/* Testimonial seccition*/
/******************************************************/
.section-testimonials {
  background-color: #fdf2e9;
  display: grid;
  grid-template-columns: 55fr 45fr;
  align-items: center;
}
.testimonals-container {
  padding: 9.6rem;
}
.testimonials {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 4.8rem;
  column-gap: 4rem;
}

.testimonial-img {
  width: 6.5rem;
  border-radius: 50%;
  margin-bottom: 1.2rem;
}

.testimonial-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 1.6rem;
}

.testimonial-name {
  font-size: 1.6rem;
  color: #6f6f6f;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
  padding: 1.6rem;
}

.gallery-item {
  overflow: hidden;
}

.gallery-item img {
  /* This remove white space */
  display: block;
  /* height: 100%; */
  width: 100%;
  transition: transform 0.3s;
}

.gallery-item img:hover {
  transform: scale(1.2);
}

/******************************************************/
/*Section pricing*/
/******************************************************/
.section-precing {
  padding: 9.6rem 0;
}

.pracing-plan {
  border-radius: 11px;

  width: 75%;
}

.pracing-plan--starter {
  justify-self: end;
  border: 2px solid #fdf2e9;
  padding: 4.6rem;
}
.pracing-plan--complete {
  background-color: #fdf2e9;
  padding: 4.8rem;
  position: relative;
  overflow: hidden;
}

.pracing-plan--complete::after {
  content: "Best Value";
  position: absolute;
  text-transform: uppercase;
  background-color: #ffd43b;
  color: #333;
  top: 6%;
  right: -14%;
  font-size: 1.4rem;
  font-weight: 700;
  padding: 0.8rem 6.8rem;
  transform: rotate(45deg);
}
.plan-header {
  text-align: center;
  margin-bottom: 4.8rem;
}
.plan-name {
  color: #cf711f;
  font-weight: 600;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.75;
  margin-bottom: 3.2rem;
}
.plan-price {
  font-size: 6.2rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 1.6rem;
}

.plan-price span {
  font-size: 3rem;
  font-weight: 500;
  margin-right: 1rem;
}
.plan-text {
  font-size: 1.6rem;
  line-height: 1.6;
  color: #6f6f6f;
}

.plan-sing-up {
  text-align: center;
  margin-top: 4.8rem;
}

.plan-detailes {
  font-size: 1.6rem;
  line-height: 1.6;
  text-align: center;
}

.feature-icon {
  color: #cf711f;
  height: 3.4rem;
  width: 3.4rem;
  background-color: #fdf2e9;
  margin-bottom: 3.2rem;
  border-radius: 50%;
  padding: 1.6rem;
}

.feature-title {
  font-size: 2.4rem;
  color: #333;
  font-weight: 700;
  margin-bottom: 1.6rem;
}

.feature-text {
  font-size: 1.8rem;
  line-height: 1.8;
}

/******************************************************/
/* CTA SECTION*/
/******************************************************/

.section-cta {
  padding: 4.2rem 0 12.8rem 0;
}

.cta {
  display: grid;
  grid-template-columns: 2fr 1fr;
  /* background-color: #e67e22; */
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
  border-radius: 11px;
  background-image: linear-gradient(to right bottom, #eb984e, #e67e22);
  overflow: hidden;

  /* temp */
  /* height: 50rem; */
}

.cta-text-box {
  padding: 4.8rem 6.4rem;
  color: #45260a;
}

.cta .headline-secondary {
  /* color: #45260a; */
  color: inherit;
  margin-bottom: 3.2rem;
}

.cta-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 4.8rem;
}

.cta-img-box {
  background-image: linear-gradient(
      to right bottom,
      rgba(235, 151, 78, 0.5),
      rgba(230, 125, 34, 0.589)
    ),
    url("../img/eating.jpg");
  background-size: cover;
  background-position: center;
}

.cta-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3.2rem;
  row-gap: 2.4rem;
}

.cta-form label {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}
.cta-form input,
.cta-form select {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.8rem;
  font-family: inherit;
  color: inherit;
  border: none;
  background-color: #fdf2e9;
  border-radius: 9px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}

.cta-form input::placeholder {
  color: #aaa;
}

.cta *:focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem rgba(253, 242, 233, 0.582);
}

/******************************************************/
/* Footer Seccton*/
/******************************************************/

.footer {
  padding: 12.8rem 0;
  border-top: 1px solid #eee;
}

.footer-grid {
  display: grid;
  grid-template-columns: repeat(2, 1.5fr) repeat(3, 1fr);
}

.logo-col {
  display: flex;
  flex-direction: column;
}

.social-links {
  list-style: none;
  display: flex;
  gap: 2.4rem;
}

.social-icon {
  height: 2.4rem;
  width: 2.4rem;
}

.copyright {
  font-size: 1.4rem;
  color: #767676;
  margin-top: 3.6rem;
  margin-top: auto;
}

.footer-logo {
  display: block;
  margin-bottom: 3.2rem;
}

.footer-heading {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 3.2rem;
}

.contacts {
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.6;
}

.address {
  margin-bottom: 2.4rem;
}

.footer-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: #767676;
  transition: all 0.3s;
}

.footer-link:hover,
.footer-link:active {
  color: #555;
}
